/KDE
/Element
/0ad
/OpenTabletDriver/Logs
/Thunar
/blender/5.0/extensions
/blender/5.0/config/recent-searches.txt
/blender/5.0/config/userpref.blend
/blender/5.0/config/platform_support.txt
/LM Studio
/dconf
/discord
/go/telemetry/local
/fcitx/dbus
/fcitx5
/ibus/bus
/godot
/inkscape
/jj
/lact
/lazygit
/libaccounts-glib
/libreoffice/4
/mozc
/mozilla/firefox
/session
/nwg-look
/pulse
/rncbc.org
/superProductivity
/vivaldi-mods
/xdg-desktop-portal
/xfce4/xfconf/xfce-perchannel-xml
/xsettingsd
/QtProject.conf
/Trolltech.conf
/arkrc
/baloofileinformationrc
