@define-color borders_breeze #474f5d;
@define-color content_view_bg_breeze #151d2b;
@define-color error_color_backdrop_breeze #c83771;
@define-color error_color_breeze #c83771;
@define-color error_color_insensitive_backdrop_breeze #502440;
@define-color error_color_insensitive_breeze #502440;
@define-color insensitive_base_color_breeze #141c29;
@define-color insensitive_base_fg_color_breeze #535b66;
@define-color insensitive_bg_color_breeze #171f2e;
@define-color insensitive_borders_breeze #262e3d;
@define-color insensitive_fg_color_breeze #555d69;
@define-color insensitive_selected_bg_color_breeze #171f2e;
@define-color insensitive_selected_fg_color_breeze #555d69;
@define-color insensitive_unfocused_bg_color_breeze #171f2e;
@define-color insensitive_unfocused_fg_color_breeze #555d69;
@define-color insensitive_unfocused_selected_bg_color_breeze #171f2e;
@define-color insensitive_unfocused_selected_fg_color_breeze #555d69;
@define-color link_color_breeze #00acd3;
@define-color link_visited_color_breeze #ffaa7f;
@define-color success_color_backdrop_breeze #00aa7f;
@define-color success_color_breeze #00aa7f;
@define-color success_color_insensitive_backdrop_breeze #0d4b45;
@define-color success_color_insensitive_breeze #0d4b45;
@define-color theme_base_color_breeze #151d2b;
@define-color theme_bg_color_breeze #182030;
@define-color theme_button_background_backdrop_breeze #182030;
@define-color theme_button_background_backdrop_insensitive_breeze #171f2e;
@define-color theme_button_background_insensitive_breeze #171f2e;
@define-color theme_button_background_normal_breeze #182030;
@define-color theme_button_decoration_focus_backdrop_breeze #00a1c5;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #0f4a5f;
@define-color theme_button_decoration_focus_breeze #00a1c5;
@define-color theme_button_decoration_focus_insensitive_breeze #0f4a5f;
@define-color theme_button_decoration_hover_backdrop_breeze #0088a6;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #0f4155;
@define-color theme_button_decoration_hover_breeze #0088a6;
@define-color theme_button_decoration_hover_insensitive_breeze #0f4155;
@define-color theme_button_foreground_active_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #555d69;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #555d69;
@define-color theme_button_foreground_backdrop_breeze #d3dae3;
@define-color theme_button_foreground_backdrop_insensitive_breeze #555d69;
@define-color theme_button_foreground_insensitive_breeze #555d69;
@define-color theme_button_foreground_normal_breeze #d3dae3;
@define-color theme_fg_color_breeze #d3dae3;
@define-color theme_header_background_backdrop_breeze #182030;
@define-color theme_header_background_breeze #182030;
@define-color theme_header_background_light_breeze #182030;
@define-color theme_header_foreground_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_backdrop_breeze #d3dae3;
@define-color theme_header_foreground_insensitive_breeze #d3dae3;
@define-color theme_hovering_selected_bg_color_breeze #0088a6;
@define-color theme_selected_bg_color_breeze #00819e;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #d3dae3;
@define-color theme_titlebar_background_backdrop_breeze #1c2538;
@define-color theme_titlebar_background_breeze #182030;
@define-color theme_titlebar_background_light_breeze #182030;
@define-color theme_titlebar_foreground_backdrop_breeze #8d939f;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #8d939f;
@define-color theme_titlebar_foreground_insensitive_breeze #8d939f;
@define-color theme_unfocused_base_color_breeze #151d2b;
@define-color theme_unfocused_bg_color_breeze #182030;
@define-color theme_unfocused_fg_color_breeze #d3dae3;
@define-color theme_unfocused_selected_bg_color_alt_breeze #053846;
@define-color theme_unfocused_selected_bg_color_breeze #053846;
@define-color theme_unfocused_selected_fg_color_breeze #d3dae3;
@define-color theme_unfocused_text_color_breeze #d3dae3;
@define-color theme_unfocused_view_bg_color_breeze #141c29;
@define-color theme_unfocused_view_text_color_breeze #535b66;
@define-color theme_view_active_decoration_color_breeze #0088a6;
@define-color theme_view_hover_decoration_color_breeze #0088a6;
@define-color tooltip_background_breeze #182030;
@define-color tooltip_border_breeze #474f5d;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #474f5d;
@define-color unfocused_insensitive_borders_breeze #262e3d;
@define-color warning_color_backdrop_breeze #6d55aa;
@define-color warning_color_breeze #6d55aa;
@define-color warning_color_insensitive_backdrop_breeze #312e53;
@define-color warning_color_insensitive_breeze #312e53;
